@using Data_Transfer_Objects.Model;

@*
    View for booking of a car with passengers
*@


@model Car

<h1>This function is currently not available</h1>
<p>Only booking of passengers are available in the demonstration WebApp.</p>

<br />
<br />
@Html.ActionLink("Back to overview", "Index", "Home")