@using Data_Transfer_Objects.Model;


@model FerryViewModel

@using (Html.BeginForm("Update", "Ferry", FormMethod.Post))
{
    <div>
        @Html.LabelFor(f => f.Id)
        @Html.EditorFor(f => f.Id)
        @Html.ValidationMessageFor(f => f.Id)
    </div>
    @await Html.PartialAsync("~/Views/partials/_ferryEditor.cshtml", Model)

    <input type="submit" value="Update" name="updateFerry">
}